;; adamtait/roam-research-text-parser

{
 :deps
 {
  org.clojure/clojure                      {:mvn/version "1.10.1"}
  org.clojure/core.async                   {:mvn/version "0.5.527"}
  org.clojure/data.generators              {:mvn/version "0.1.2"}
  clj-antlr/clj-antlr                      {:mvn/version "0.2.7"}
  com.stuartsierra/component               {:mvn/version "0.4.0"}
  datascript                               {:mvn/version "0.18.11"}}

 :paths ["src" "test" "resources"]

 
 :aliases
 {
  :repl {:extra-deps
         {cider/cider-nrepl                {:mvn/version "0.25.1"}
          com.stuartsierra/component.repl  {:mvn/version "0.2.0"}
          spyscope                         {:mvn/version "0.1.6"}}
         :extra-paths ["dev"]
         :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test {:extra-deps
         {lambdaisland/kaocha              {:mvn/version "1.0.632"}}}}}
